body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f2f2f2;
}

.form-container {
  text-align: center;
}

.form-container input {
  display: block;
  width: 300px;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
  color: #333;
  font-size: 13px;
}

.select-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.custom-select {
  position: relative;
  width: 318px;
  overflow: hidden;
}

.custom-select select {
  width: 318px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
  color: #333;
  background: #fff;
  font-size: 13px;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.main-button {
  display: inline-block;
  padding: 10px 0;
  width: 200px; /* Adjust the width as needed */
  font-size: 18px;
  background-color: #fff;
  color: #000;
  border: 2px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 10px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.main-button:hover,
.main-button:focus {
  background-color: #000;
  color: #fff;
}

.button button {
  position: relative;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #fff;
  color: #000;
  border: 2px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  overflow: hidden;
  z-index: 1;
  transition: background-color 0.5s ease, color 0.5s ease; /* Added transition for border-color */
}

.button button:hover,
.button button:focus {
  background-color: #000;
  color: #fff;
}

.back-button {
  position: fixed;
  top: 20px;
  left: 20px;
  display: inline-block;
  padding: 10px;
  font-size: 18px;
  background-color: #fff;
  color: #000;
  border: 2px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  transition: background-color 0.5s ease, color 0.5s ease; /* Added transition for border-color */
}

.back-button button:hover,
.back-button button:focus {
  background-color: #000;
  color: #fff;
}